body {
	margin: 0;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	min-height: 100vh;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000; 
}

.main-bg {
	padding-top: 64px;
	min-height: 100vh;
	background: url('/imagenFondo/fondo.webp') no-repeat center center/cover;
	background-attachment: fixed; 
  	background-size: cover;
}

.navbar-custom {
	background: url('/navbar/Navbar3.webp') ;
	background-color: rgb(44, 44, 44);
	width: 100%;
	height: 64px;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 5vw;
	box-sizing: border-box;
	position: fixed;
	top: 0;              
	left: 0;             
	width: 100%;
	z-index: 9999;
} 

.navbar-title {
	font-size: clamp(1rem, 2.5vw, 1.4rem);
}
.navbar-links a {
	color: #fff;
	text-decoration: none;
	margin-left: 30px;
	font-size: clamp(0.8rem, 2vw, 1rem);
	transition: color 0.3s;
}
.navbar-links a:hover {
	color: #01ff56;
}

@media (max-width: 768px) {
	.hamburger {
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 26px;
	height: 20px;
	cursor: pointer;
	display: flex;
	position: absolute;
	right: 10px;
	top: 12px;
	z-index: 10;
}

	.hamburger span {
	height: 3px;
	width: 100%;
	background: white;
	border-radius: 5px;
	transition: all 0.3s ease;
}

	.navbar-links {
		position: absolute;
		top: 64px;
		left: 0;
		width: 100%;
		background: rgba(44, 44, 44, 0.98);
		backdrop-filter: blur(5px);
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
		padding: 20px 0;
		transform: translateY(-200%);
		transition: transform 0.3s ease-in-out;
	}
	

	.navbar-links.active {
		transform: translateY(0);
	}
	
}

.home-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: calc(100vh - 56px);
}

.profile-pic-container {
	margin-top: 10px;
	margin-bottom: 5px;
}

.profile-pic {
	width: 140px;
	height: 140px;
	border-radius: 50%;
	border: 5px solid #ffffff;
	object-fit: cover;
	background: #ffffff;
}

.profile-name {
	font-size: 2.5rem;
	font-weight: bold;
	margin-bottom: 40px;
	color: #fcf1f1;
}

.profile-desc {
	font-size: 1.1rem;
	color: #ffffff;
	margin-bottom: 40px;
}

.profile-link {
	color: #ffffff;
	text-decoration: none;
	margin-bottom: 30px;
	display: block;
}

.profile-name,
.profile-desc,
.github-name,
.profile-welcome {
  color: #ffffff; 
  background: rgba(0, 0, 0, 0.6); 
  backdrop-filter: blur(4px);
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 20px;
  max-width: 700px;
  text-align: center;
  line-height: 1.5;
  font-weight: 400;
}



.github-btn {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.25s ease;
}

.github-btn:hover {
  transform: scale(1.15);
  background-color: rgba(255, 255, 255, 0.2);
}

.github-name {
	font-size: 1.2rem;
	font-weight: bold;
	margin: 1px 0 1px 0;
	color: #fcf1f1;
}


.notfound-container {
  display: flex;
  flex-direction: column;
  justify-content: center;   
  align-items: center;       
  min-height: calc(100vh - 64px); 
  gap: 10px;
  text-align: center;
}

.notfound-box {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 10px;
  padding: 10px 20px;
}

.notfound-button {
  background: rgba(0, 0, 0, 0.6);
  color: #01ff56;
  border: none;
  border-radius: 8px;
  padding: 8px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.notfound-button:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #00cc44;
  text-shadow: 0 0 6px #00cc44;
}

.volver-inicio-btn {
  margin-top: 10px; 
}









